PORT=5000
MONGODB_URI=mongodb+srv://pooji2715_db_user:Jeyk142j8wtUT6jR@cluster0.uyw43ea.mongodb.net/
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
MAX_FILE_SIZE=5242880
MAX_FILE_SIZE=5242880
